@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* Colors: */
$clr-black: #181a1f;
$clr-orange: #ff6c2c;
$clr-light: #ffffff;
$font-stack: open-sans, sans-serif;

main {
	overflow-x: hidden;
}

.line-orange {
	margin: 1rem 0;

	border: 1px solid $clr-orange;
	opacity: 1;
}

.no-padding {
	padding: 0 !important;
	overflow-x: hidden;
}

////////////////////////////////////////////////////////////////////////////
/////////////////////       #CAROUSEL            ////////////////////////////
///////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #RECTANGLES            ////////////////////////////
///////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #ABOUT US            ////////////////////////////
///////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #CLASSES           ////////////////////////////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #TEAM          ////////////////////////////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #CONTACT          ////////////////////////////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #FAQ          ////////////////////////////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/////////////////////       #Footer         ////////////////////////////
///////////////////////////////////////////////////////////////////////////
@import 'home';
@import 'carous';
@import 'rectangles';
@import 'classes';
@import 'teams';
@import 'aboutus';
@import 'contact';
@import 'faqs';
@import 'footer';
@import 'extraStyles';
@import 'mobile';
